<main class="mt-5">
   <div class="container">
      <div class="card mx-auto" style="width: 450px;">
         <div class="card-header">
            <img
               class="card-img-top mx-auto m-2 rounded-circle"
               alt="logo"
               src="./img/logo.jpg"
               alt="logo"
               style="width: 150px; height: 150px;display:block;"
            />
            <h3 class="text-uppercase text-center p-4">CRUD con nodejs y msql</h3>
         </div>

         <div class="card-body text-center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
               provident quod, placeat ad veniam earum, labore incidunt dolor
               veritatis, beatae deleniti dolore tenetur nobis cupiditate
               suscipit ullam explicabo cum quo!</p>

            <a href="/add" class="btn btn-primary"> Crear una persona</a>

         </div>
      </div>
   </div>

</main>